<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

  <!-- Navigation Bar -->
  <div class="navbar">
    <a href="{{ url_for('homepage') }}" class="button">Dashboard</a>
    <a href="{{ url_for('plant_log') }}" class="button">Plant Log</a>
  </div>

   <h1>507SproutLab Dashboard</h1>

   <img src="{{ url_for('static', filename='homepage.jpg') }}" width="300">

   <h3>Seedling Time:</h3>
   <p id="ny-time" style="font-size: 20px;"></p>

   <script>
    function updateNYTime() {
     const now = new Date();
     const options = {
      timeZone: "America/New_York",
      year: "numeric",
      month: "long",
      day: "numeric",
      hour: "2-digit",
      minute: "2-digit",
      second: "2-digit"
     };
     document.getElementById("ny-time").innerHTML =
      new Intl.DateTimeFormat("en-US", options).format(now);
    }

    updateNYTime();
    setInterval(updateNYTime, 1000);
   </script>
  </body>
</html>

